{% extends "registration/base.html" %}
{% load static %}

{% block content %}
<div class="my-1">
      <div class="p-2 text-center ">
        <div class="container">
          <div class="rounded mx-auto d-block" style="max-width: 200px;">
            <img src="{% static 'conf/img/clave_reseteada.png' %}" class="card-img-top" alt="...">
         </div>  
          <p class="col-lg-8 mx-auto lead">
            <h1>Cambio finalizado</h1>
            <p>Tu nueva contraseña ha sido guardada. Si lo deseas ya puedes ingresar presionando <a href={% url 'login' %}><strong style="color:blue;">aqu&iacute;</strong></a></p>        </p>
        </div>
      </div>
</div>




{% endblock %}