{% extends "registration/base.html" %}

{% block content %}
<div class="my-1">
      <div class="p-2 text-center ">
        <div class="container">
        <p class="col-lg-8 mx-auto lead">
            <h1>Ingrese una nueva contraseña</h1>
        </p>
        <form method="POST">{% csrf_token %}
            {{ form.email.errors }}
            {% include "conf/form_as_table_with_table.html" %}
            <div class="submit-row">                                                                                        
                <input class="btn btn-success" type="submit" value="Cambiar mi contraseña" />                           
            </div>       
        </form>  
    </div>
  </div>
</div>


{% endblock %}