{% extends "conf/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Cambio de contraseña{% endblock %}

{% block titulo_template %}Cambio de contraseña{% endblock %}

{% block content %}     
    <form method="post" enctype="multipart/form-data">{% csrf_token %}                      
        {%include 'conf/form_as_table_with_table.html'%}
        {% include 'conf/cancelar_confirmar.html' %}
    </form>
{%endblock%}    

{% block js %}     
    <script>
    
        AgregarAyudaAElementoSoloTexto(
            "id_new_password1", 
            "Contraseña con bajo nivel de seguridad", 
            "Permite el ingreso de contraseñas comúnes como 123, pepe, juan, 1, 2.",
            true
        );
   
    </script>
{%endblock%}

