{% extends "registration/base.html" %}
{% load static %}

{% block content %}
    
<div class="my-1">
	  <div class="p-2 text-center ">
	    <div class="container">
	      <div class="rounded mx-auto d-block" style="max-width: 200px;">
	        <img src="{% static 'conf/img/enviado.png' %}" class="card-img-top" alt="...">
	     </div>  
	      <p class="col-lg-8 mx-auto lead">
            <h1>Revise su correo</h1>
            <p>Hemos enviado las instrucciones a su correo, a la brevedad lo deberías recibir!</p>	      </p>
	    </div>
	  </div>
</div>

 
 
{% endblock %}