{% extends "registration/base.html" %}
{% load i18n %}

{% block content %}
<div class="my-1">
  <div class="p-2 text-center">
    <div class="container">
        <p class="col-lg-8 ">
            <h1>¿Olvidaste tu contraseña?</h1>
            Ingresá tu dirección de correo asociada y te enviarémos las instrucciones.
        </p>
        <form method="POST">{% csrf_token %}
            {{ form.email.errors }}
            {% include "conf/form_as_table_with_table.html" %}
            {% include 'conf/cancelar_confirmar.html' %}  
       </form>  
    </div>
  </div>
</div>

{% endblock %}

{% block js %}     
    <script>
        AgregarAyudaAElementoSoloTexto("id_email", "Exposición de datos sensibles", "Se informa del nombre de usuario al recuperar la contraseña", true);
      
        </script>
{%endblock%}