{% extends "conf/base.html" %}
{% load static %}

{% block content %}
<div class="my-1">
  <div class="p-2 text-center">
    <div class="container ">
      <div class="rounded mx-auto d-block" style="max-width: 200px;">
        <img src="{% static 'conf/img/clave_cambiada.png' %}" class="card-img-top" alt="...">
     </div>  
      <p class="col-lg-8 mx-auto lead">
        <h1>Su contraseña ha sido cambiada con exito. </br></br>
		    Si desea ir a la página principal, puede presionar 
		    <a type="button" class="btn btn-light" href="{% url 'demo:index'  %}"> aquí.</a>
		</h1>
		</p>
    </div>
  </div>
</div>
    
    
	
{% endblock %}


{# This is used by django.contrib.auth #}