{% extends "conf/base.html" %}
{% load static %}
{% block title %}Usuario sin permisos{% endblock %}
{% block titulo_template %}Usuario sin permisos{% endblock %}
{% block content %}
    <div class="container" style="text-align:center">
        <img style="width:35%" src="{% static 'conf/img/logo.png' %}" class="card-img-top" alt="...">
        
        <p style="font-size: 35px;color:#989b45">¡Atención!</p>
        <p style="font-size: 30px;color:#f25e5e" >No tienes permisos para acceder a este recurso.</p>
        </br>
        <p style="font-size: 20px">{{mensaje|default:""}}</p>
        </br>
        
        <input class="btn btn-dark" type="button" onclick="goBack()" value="Volver" name="volver" /> 
    </div>

{% endblock %}

